* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body {
    width: 70%;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

/*************MENÜ*****************/

nav::after {
    content: "";
    clear: both;
    display: table;
    color: white;
}

li {
    float: left;
    text-decoration: none;
    list-style-type: none;
    font-size: xx-large;
    padding-left: 25px;
    padding-bottom: 25px;
}

a {
    text-decoration: none;
    color: white;
    font-size: x-large;
}

nav a:hover {
    background-color: silver;
    border-radius: 8px;
    padding: 0 10px;
}

nav a:visited {
    background-color: silver;
    border-radius: 8px;
    padding: 0 10px;
}

img {
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;

}

/****************FŐOLDAL***********************/

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    margin-bottom: 50px;
}


h1 {
    text-align: center;
    color: rgba(2, 152, 136, 255);
}

h2 {
    text-align: center;
    color: rgba(2, 152, 136, 255);
    margin-bottom: 25px;
}

section {
    margin-bottom: 25px;
    color: rgba(2, 152, 136, 255);
    line-height: 25px;
    text-align: center;
}

iframe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
}

/**********************VERSENYZŐK************************/

main {
    height: 3000px;
    color: rgba(2, 152, 136, 255);

}

main DIV {
    padding: 50px;
    margin: 50px;
    background-color: rgba(44, 43, 41, 255);
    border-radius: 10px;
}

.hideme {
    opacity: 0;
}

.hamilton {
    float: left;
    margin-right: 25px;

}

.russel {
    float: right;
    margin-left: 25px;

}

.bottas {
    float: left;
    margin-right: 25px;

}

.schumi {
    float: right;
    margin-left: 25px;

}

.rosberg {
    float: left;
    margin-right: 25px;

}

.member a {
    font-size: 36px
}

.hideme a{
    font-size: 36px
}

/***************************GALÉRIA***********************/

.gallery {
    margin: 10px 50px;

}

.gallery img {
    transition: 1s;
    padding: 15px;
    width: 300px;
}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}



/************KVÍZ*********************/

.kviz {
    border: solid #eee 1px;
    text-align: center;
    background-color: #eee;
    box-shadow: 1px 3px #bbb;
    margin: 15px 5px;
    padding: 5px;
}

.kerdes {
    font-weight: bold;
}

.valaszok {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.valasz {
    border: solid black 1px;
    background-color: #acf;
    padding: 3px 5px;
    min-width: 25%;
    margin: 5px;
    cursor: pointer;
}

/**********LÁBLÉC*************/
footer {
    text-align: center;
    color: rgba(2, 152, 136, 255);
    margin: 20px 0;
    padding: 15px 0;
    font-size: large;
}

/************VISSZA**********/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: silver;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
}

#myBtn:hover {
    background-color: red;
}


@media screen and (max-width: 440px) {
    nav a {
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 960px) {

    section,
    div.box {
        width: 100%;
    }
}